@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
* {
	padding:0;
	margin: 0;
}
body {
	background: url(../img/gray_jean.png) repeat 0px 3px transparent;
}
h3 {
	color: #666;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
	font-weight: 300;
}
h3.bordered {
	border-bottom: 1px solid #E8E8E8;
	padding-bottom: 15px;
	margin: 50px 0 20px;
}
p, ul, li, a, span {
	color: #666;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: normal;
	font-size: 13px;
}
p { text-align: justify; }
a { color: #3B87C3; text-decoration: none; }
#wrapper {
	width: 960px;
	margin: 0 auto;
	margin-top: 20px;
}
#sidebar {
	width: 180px;
	float: left;
	background: #fff;
	padding: 10px 30px;
	box-shadow: 0px 0px 5px #ddd;
	border: 1px solid #ded;
}

#sidebar ul.menu {
	margin-top: 20px;
}
#sidebar ul.menu li {
	list-style: none;
	padding: 5px 0;
	border-bottom: 1px solid #eee;
	float: left;
	width: 100%;
}
#sidebar ul.menu li:last-child { border-bottom: none; }
#sidebar ul.menu li a {
	text-decoration: none;
	width: 100%;
	margin-left: 10px;
	float: left;
}
#sidebar ul.menu li a:hover {
	text-decoration: underline;
}

#sidebar ul.kontakt {
	margin-top: 20px;
}
#sidebar ul.kontakt li {
	list-style: none;
	padding: 5px 0;
	float: left;
	width: 100%;
}

#main-content {
	width: 640px;
	float: right;
	padding: 10px 30px;
	background: #fff;
	box-shadow: 0px 0px 5px #ddd;
	border: 1px solid #ded;
}
#main-content .downloadPDF {
	background: url(../img/pdf.png) no-repeat top left transparent;
	float: left;
	padding: 2px 5px 10px 40px;
	width: 270px;
	font-weight: bold;
}
#main-content footer {
	border-top: 1px solid #E8E8E8;
	text-align: center;
	padding: 20px 0 10px 0;
	margin-top: 20px;
}
#main-content footer p { text-align: right; }
#main-content footer p a { text-decoration: none; color: #3B87C3; }